<!DOCTYPE html>
<html>
<head>
	<title>aboutus</title>
</head>
<body>
	<div class="container-fluid" style="background-color: #341e54">
	<table>
		<form>
			<tr>
				<td>
					<h1 style="color: #ffffff">AboutUs</h1>
				</td>	
			</tr>
			<tr>
				<td>
					<p style="color: #ffffff">Sree Narayana Gurukulam College of Engineering
([Approved by AICTE and affiliated to APJ Abdul Kalam Technological University and MG University, Managed by Sree Narayana Gurukulam Charitable Trust, Promoted by S.N.D.P. Yogam Kunnathunadu Union])</p>
				</td>
			</tr>
			<tr style="color: #ffffff">
				<td>
Phone: 0484-2597800(30 lines)
</td>

<td>Principal: Prof. Dr. Kemthose P Paul, Mob: +91 9497417700</td>

<td>Executive Director: Adv. T. A. Vijayan, Mob: +91 9446477126</td>

<td>Fax: 0484-2762541</td>

<td>SNG Trust: 0484-2594885</td>

<td>E-mail: principal@sngce.ac.in, info@sngce.ac.in
				</td>
			</tr>
		</form>
	</table>
	</div>

</body>
</html>