{% include 'admin_header.html' %}
<center>
	<div class="container-fluid" style="background-image: url(/static/img/h1.jpg); height: 800px;background-repeat: no-repeat;background-size: cover;background-position: center;">



<h1>VACCANCY -{{data['vac']}}</h1>
<h1>Room Members</h1>
<table class="table"  style="width: 1100px;color: #000;">
		<tr>
			<th>dl.no</th>
			<th>first name</th>
			<th>last name</th>
		
			
			
		</tr>
		{% for row in data['room'] %}
		<tr>

			<td>{{ loop.index }}</td>
			<td>{{ row['firstname'] }}</td>
			<td>{{ row['lastname'] }}</td>
		
			
			
		</tr>
		{% endfor %}
	</table>
</center>
</div>

</div>
{% include 'footer.html' %}