{% include 'public_header.html' %}
<center>
	<div class="container-fluid" style="background-image: url(/static/img/college.jpg); height: 500px;background-repeat: no-repeat;background-size: cover;background-position: center;">

<form method="post">
	<h1 style="padding-top: 150px; color: #000;">LOGIN</h1>
<table class="table"  style="width: 500px; color: #fff;">
	
	<tr>
		<th>Username</th>
		<td><input type="text" name="username" class="form-control"></td>
	</tr>
	<tr>
		<th>Password</th>
		<td><input type="password" name="password"  class="form-control"></td>	
	</tr>
	<tr>
		<td align="center" colspan="2"><input type="submit" name="submit" class="btn btn-primary" value="Login"></td>
	</tr>
</table>
</form>


</div>
     </center>

{% include 'footer.html' %}



  
